.story {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  padding: 0 16px 0 16px;
}

.story-dark {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  padding: 0 16px 0 16px;
  color: #e8eaee;
  background-color: #353946;
}
