.collapse {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 600px;
  background-color: #f5f7ff;
}
